APP_NAME=TranscriBITE
APP_VERSION=1.0.0
HOST=127.0.0.1
PORT=8000
UPLOAD_FOLDER=../storage/uploads
OUTPUT_FOLDER=../storage/outputs
TEMP_FOLDER=../storage/temp
CACHE_FOLDER=../storage/cache
LOG_FOLDER=../logs
MAX_FILE_SIZE=500
DEFAULT_LANGUAGE=auto
FFMPEG_PATH=ffmpeg
WHISPER_MODEL=base